server:
  port: 8091
  tomcat:
    max-threads: 100
    uri-encoding: UTF-8

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    jdbc-url: jdbc:mysql://120.79.192.46:3306/activiti?characterEncoding=utf-8&useSSL=false
    username: root
    password: 129374
# Specify the DBMS
  jpa:
    database: MYSQL
# Show or not log for each sql query
    show-sql: true
# DDL mode. This is actually a shortcut for the "hibernate.hbm2ddl.auto" property. Default to "create-drop" when using an embedded database, "none" otherwise.
    hibernate:
      ddl-auto: update
# Hibernate 4 naming strategy fully qualified name. Not supported with Hibernate 5.
# stripped before adding them to the entity manager)
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

#check Activiti table and version or not
  activiti:
    database-schema-update: false
    check-process-definitions: false
#history data save level
    history-level: full
